<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Een enquête voor oudere mensen die hulp nodig hebben bij thuisquarantaine">
    <title>Hulp bij thuisquarantaine</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        {{{body}}}
    </body>
</html>