{{> header}}

<article>
    Bedankt voor het invullen, we zullen jouw antwoorden zo spoedig mogelijk bekijken.
    Binnenkort zult u een mailtje ontvangen.

    <a href="/">Terug naar home</a>
</article>

{{> footer}}