<header id="header">
    <a href="">
        Home
    </a>
</header>

<article>
    <h1>Welkom!</h1>
    <p>Als u besluit om later verder te werken aan de enquete, onthoud, of schrijf op, de volgende code:</p>
    <p>00000</p>

    <form action="/questions-1">
        <input type="submit" id="Submit" value="Begin de enquete"/>
    </form>
</article>

{{> footer}}