{{> header}}

<article class="home">
    <h1>Welkom!</h1>
    <p>Als u besluit om later verder te werken aan de enquête, onthoud, of schrijf op, de volgende code:</p>
    
    <form class="getCodeForm" action="/questions-1" method="post">
        <div id="code__container"><input class="your-code" type="text" name="user" value="{{user}}" ></div>
        <div class="tooltip">
            <div class="info__container" tabindex="0">
                <img class="info-icon" src="/images/info.svg" alt="info">
                <p class="help" >Help</p>
            </div>
            <span class="tooltiptext">Klik voor extra hulp</span>
        </div>

        <p class="instruction-text">Hint: Bewaar je code op een plek waar je later bij kan, deze kan je plakken met ctrl + v</p>

        <input type="text" name="currentpage" value="getCode" hidden>

        <input class="next" id="start-survey-getcode" type="submit" id="Submit" value="Nieuwe enquête starten"/>
    </form>
</article>

<script src="/js/getCode.js"></script>