{{> header}}

<article>
    <h1>Welkom!</h1>
    <p>Als u besluit om later verder te werken aan de enquete, onthoud, of schrijf op, de volgende code:</p>

    <div class="tooltip">
        <div class="info__container">
            <img class="info-icon" tabindex="0" src="/images/info.svg" alt="info">
            <p class="help" >Help</p>
        </div>
        <span class="tooltiptext">Klik voor extra hulp</span>
    </div>

    <p class="instruction-text">Hint: selecteer de code en druk op ctrl + c om de code te kopiëren, en ctrl + v om deze code ergens te plakken.</p>
    
    <form action="/questions-1" method="post">
        <input class="your-code" type="text" name="user" value="{{user}}" readonly>
        <input type="text" name="currentpage" value="getCode" hidden>

        <input class="next" id="start-survey-getcode" type="submit" id="Submit" value="Nieuwe enquete starten"/>
    </form>
</article>

<script src="/js/getCode.js"></script>