{{> header}}

<p>Dit is een enquete die u in kunt vullen als u hulp nodig heeft bij de thuisquarantaine in verband met het coronavirus.</p>

<article>
    <h1>Start een nieuwe enquete, of ga verder waar u de vorige keer was gebleven.</h1>

    <a href="/getCode">Nieuwe enquete starten</a>

    <form action="/test" method="post">
        <label>
            Vul hier uw code in
            <input id="code" type="text" maxlength="4">
        </label> 

        <input type="submit" id="Submit" value="Ga verder met mijn oude enquete"/>
    </form>
</article>

{{> footer}}