{{> header}}

<p id="introduction">Dit is een enquête die u in kunt vullen als u hulp nodig heeft bij de thuisquarantaine in verband met het coronavirus.</p>

<div id="home-image" title="Afbeelding: Een bejaarde vrouw die alleen thuis in een stoel zit"></div>

<article class="home">
    <h2>Start een nieuwe enquête</h2>

    <a id="start-survey-home" href="/getCode">Nieuwe enquête starten</a>

    <h3 id="continue-title" >of ga verder waar u de vorige keer was gebleven.</h3>

    <form action="/existingCode" method="post">
        <div class="type-code__container">
            <label>
                Vul hier uw code in 
                <input id="code" name="user" type="text" maxlength="6">
            </label> 
            <input class="continue-last-survey next" type="submit" id="Submit" value="Hervat mijn enquête"/>
        </div>

        {{#if invalidCode}}
            {{> invalidCode}}
        {{/if}}
    </form>
</article>

<script src="/js/home.js"></script>