{{> header}}

<p id="introduction">Dit is een enquete die u in kunt vullen als u hulp nodig heeft bij de thuisquarantaine in verband met het coronavirus.</p>

<article>
    <h1>Start een nieuwe enquete, of ga verder waar u de vorige keer was gebleven.</h1>

    <a id="start-survey-link" href="/getCode">Nieuwe enquete starten</a>

    <form action="/existingCode" method="post">
        <label>
            Vul hier uw code in 
            <input id="code" name="user" type="text" maxlength="6">
        </label> 

        <input class="continue-last-survey" type="submit" id="Submit" value="Ga verder met mijn oude enquete"/>
        {{#if invalidCode}}
            {{> invalidCode}}
        {{/if}}
    </form>
</article>

{{> footer}}

<script src="/js/home.js"></script>