{{> header}}

<article>
    <form action="/questions-3" method="post">
        <fieldset>
            <legend>Divers</legend>
            <label>
                5. Heeft u gezondheidsklachten?
                <input name="healthissues" type="text">
            </label>

            <label>
                6. Vraag 6
                <input name="question6" type="text">
            </label>

            <label>
                7. Vraag 7
                <textarea name="question7" cols="30" rows="10"></textarea>
            </label>

            <input type="text" name="currentpage" value="questions-2" hidden>
            <input type="text" name="user" value="{{user}}" hidden>

            <input type="submit" id="Submit" value="Volgende"/>     
        </fieldset>
    </form>

    <a class="back" href="/questions-1">Terug</a>
</article>

{{> footer}}