{{> header}}

<p>Dit is een enquete die u in kunt vullen als u hulp nodig heeft bij de thuisquarantaine in verband met het coronavirus.</p>

<article>
    <form action="/questions-2" method="post">
        <fieldset>
            <legend>Algemeen</legend>
            <label for="age">1. Hoe oud bent u?</label>
            <input id="age" inputmode="numeric" pattern="[0-9]{9,9}" maxlength="3"><p>jaar</p>

            <label for="age">2. Wat is uw naam?</label>
            <input id="age" input="text"><input id="age" input="text"><input id="age" input="text">

            <label for="help">3. Waar heeft u hulp bij nodig?</label>
            <textarea name="help" id="help" cols="30" rows="10"></textarea>

            <input type="submit" id="Submit" value="Volgende"/>     
        </fieldset>
    </form>
</article>

{{> footer}}