{{> header}}

<article>
    <form action="/questions-2" method="post">
        <fieldset>
            <legend>Algemeen</legend>
            <label>
                1. Hoe oud bent u?
                <input name="age" type="text" inputmode="numeric" pattern="[0-9]{2,3}"><p>jaar</p>
            </label>

            <label>
                2. Wat is uw naam?
                <input name="name1" type="text"><input  name="name2" id="age" type="text"><input  name="name3" id="age" type="text">
            </label>

            <label>
                3. Waar heeft u hulp bij nodig?
                <textarea name="reason" cols="30" rows="10"></textarea>
            </label>

            <fieldset>
                <legend>Heeft u naasten/bekenden die u kunnen helpen?</legend>
                <label>
                    Ja 
                    <input type="radio" value="Ja" name="needhelp">
                </label>
                <label>
                    Nee 
                    <input type="radio" value="No" name="needhelp">
                </label>

                <input type="text" name="currentpage" value="questions-2" hidden>
                <input type="text" name="user" value="{{user}}" hidden>
            </fieldset>

            <input type="submit" id="Submit" value="Volgende"/>    
        </fieldset>
    </form>
    <a class="back" href="/getCode">Terug</a>
</article>

{{> footer}}