{{> header}}

<article>
    <form id="form3" action="/finished" method="post">
        <fieldset>
            <legend>Demografische informatie</legend>
            <label>
                7. Vraag
                <input name="7" type="text">
            </label>

            <label>
                8. Vraag
                <input name="8" type="text">
            </label>

            <label>
                9. Vraag
                <textarea name="9" cols="30" rows="10"></textarea>
            </label>

            <input type="text" name="currentpage" value="questions-3" hidden>
            <input type="text" name="user" hidden value="{{user}}">
            <p>{{user}}</p>
            <input type="submit" id="Submit" value="Versturen"/>     
        </fieldset>
    </form>

    <a class="back" href="/questions-2">Terug</a>
</article>

{{> footer}}