{{> header}}

<article>
    <form id="form3" action="/finished" method="post">
        <fieldset>
            <legend>Demografische informatie</legend>
            <label>
                8. Wat is uw straat en huisnummer?
                <input name="street" type="text" placeholder="Typ uw straat">
                <input name="houde-number" type="text" placeholder="nummer">
            </label>

            <label>
                9. Wat is uw postcode?
                <p class="instruction-text">Voer een 4-cijferige postcode in, bijvoorbeeld: 1234 of 3215</p>
                <input name="zip-code" type="text" inputmode="numeric" pattern="[0-9]{4}">
            </label>

            <label>
                9. Vraag
                <textarea name="9" cols="30" rows="10"></textarea>
            </label>

            <input type="text" name="currentpage" value="finished" hidden>
            <input type="text" name="user" value="{{user}}" hidden>
          
            <input type="submit" id="Submit" value="Versturen"/>     
        </fieldset>
    </form>

    <a class="back" href="/questions-2">Terug</a>
</article>

{{> footer}}