@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);;
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
  
@font-face {
    font-family: Roboto-light-italic;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

html {
    height: 100%;
}

body {
    background-color:#222629;
    margin: 0;
    padding: 0;
    font-family: Roboto-regular, sans-serif;
    min-height: 100%;
    color: white;
    /* overflow: hidden; */
}

header h1 {
    font-family: Roboto-medium, sans-serif;
    color: white;
}

header, article, #introduction {
    padding: 0px 15px;
}

#introduction {
    color: #959595;
}

header {
    margin-top: -22px;
    padding-top: 22px;
    background-color: #222629;
}

/* BUTTONS */
.next, .back {
    border: none;
    padding: 10px;
    cursor: pointer;
}

.next, 
.next-button, 
.back, 
#start-survey-home, 
#back-to-home {
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000073;
}

.next {
    background-color: #86C232;
    color: #222629;
    margin-top: 10px;
}

.next:hover {
    background-color: #222629;
    color: #86C232;
    transition: 300ms ease-in-out;
}

.next-button {
    position: absolute;
    right: 15px;
}

.back {
    margin-left: 14px;
    display: inline-block;
    width: 56px;
    background-color: #6B6E70;
    color: white;
    font-size: 14px;
}

.back:hover {
    background-color: white;
    color: #6B6E70;
    transition: 200ms ease-in-out;
}

#back-to-home {
    display: block;
    margin-top: 20px;
    background-color: #6B6E70;
    color: white;
    padding: 12px;
    width: 130px;
}

/* */

.inline-block {
    display: inline-block;
}

header a:visited {
    color: white;
}

legend {
    font-weight: 1000;
    font-family: Roboto-medium, sans-serif;
}

.year {
    margin-left: 10px;
}

label {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

article {
    margin-top: 30px;
    height: 90%;
}

#start-survey-home {
    background-color: #86C232;
    color: #222629;
    padding: 8px;
    width: 170px;
    margin-bottom: 15px;
    display: inline-block;
}

#start-survey-home:hover {
    background-color: #222629;
    color: #86C232;
    transition: 200ms ease-in-out;
}

#start-survey-home, #start-survey-getcode {
    box-shadow: 0px 3px 6px #00000073;
    margin-top: 0;
}

#start-survey-getcode {
    display: block;
    margin-top: 15px;
}

/* FOCUS STATES */
*:focus {
    outline: 2px solid #0e7c17;
}

header a:focus {
    background-color: white;
    color: black;
}

#start-survey-home:focus {
    color: #0e7c17;
    background-color: white;
}

.next:focus, .back:focus {
    background-color: white;
    color: black;
}

input[type="text"]:focus, textarea:focus {
    background-color: #e3ffd1;
}

/*Input fields */
input[type="text"], textarea {
    border-radius: 5px;
    border: 1px solid #adadad;
}

input[type="text"] {
    padding: .3em;
}

#age {
    width: 40px;
}

.your-code {
    padding: 7px 10px;
    width: 100px;
    font-size: 20px;
    border: none;
    margin-bottom: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color:#ececec;
}

.info-icon {
    height: 22px;
}

.info__container {
    display: none;
    cursor: pointer;
}

.help {
    display: inline;
}

.instruction-text, .help-text {
    color: #8f989e;
    font-size: 14px;
    margin-top: 3px;
}

.getCodeForm {
    margin-top: 10px;
}

textarea {
    margin: 10px 0px;
    width: 100%;
    font-family: Roboto-light, sans-serif;
    padding: 10px;
}

fieldset {
    border: none;
    animation: transition 500ms ease-in-out;
}

@keyframes transition {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

a {
    text-decoration: none;
}

/* TOOLTIP */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.info__container:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.show {
    display: initial;
}

.hide {
    display: none;
}

.type-code__container {
    background-color: #474B4F;
    border-radius: 5px;
    width: 140px;
    padding: 20px;
    margin-top: 10px;
}

.type-code__container label {
    margin-top: 0;
}

#code {
    display: block;
    margin-top: 10px;
    width: 125px;
    text-align: center;
}

.continue-last-survey {
    margin-top: 16px;
    background-color: #61892F;
    color: white;
}